:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.homePage {
  max-width: 320px;
  /* border: 1px solid; */
  height: 100vh;

  margin: 0px auto;
  padding: 0px 0px;
  overflow: hidden;
}
.homePage .main-title {
  font-weight: 600;
  font-size: 2rem;
}
.homePage input {
  padding: 4px 8px;
  font-size: 1.1rem;
  outline: none;
  border-radius: 3px;
  border: 1px solid #969696;
  width: 90%;
}
.homePage input:focus {
  border: 1px solid #ff6600;
}
.homePage .callsFeature {
  /* border: 1px solid; */
  width: 100%;
}
.homePage .callCreate {
  /* border: 1px solid; */
  margin: 20px 0px;
}
.homePage .callCreate button {
  background-color: #ff6600;
  width: 96%;
  padding: 4px 8px;
  outline: none;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 1.1rem;
  margin: 12px 0px;
}
.homePage .callCreate .button-create {
  background-color: transparent;
  color: #ff6600;
  border: 1px solid #ff6600;
}
.homePage .credits {
  text-align: center;
  font-weight: bold;
  color: gray;
  font-size: 0.8rem;
}
